
# for gedit temporary files 
*~

# data and node_modules directory
node_modules/
data/

# npm log for debugging
npm-debug.log

# for extras folder
extras/*

# for temp folder
temp/*

# for results folder
results/*
